<template>
  <div class="file-upload">
    <input type="file" id="fileinput" name="file" @change="upload($event)" />
    <canvas ref="myCanvas"></canvas>
  </div>
</template>

<script>
import {readAsDataURL, readAsText, readAsArrayBuffer} from 'promise-file-reader'
import storage from '@/storage'

export default {
  methods: {
    async upload(event) {
      console.info(event.target.files[0])
      const file = event.target.files[0]
      const dataURL = await readAsDataURL(file)
      
      const canvas = this.$refs.myCanvas
      var ctx = canvas.getContext('2d')
      var img = new Image()
      img.onload = function() {
        ctx.drawImage(img, 0, 0)
      }
      img.src = dataURL

      // const dataBase64 = dataURL.substr(dataURL.indexOf(',') + 1)
      // return storage.storeBase64('dist/gallery/' + file.name, dataBase64)
    }
  }
}
</script>

<style>
file-upload canvas {
  width: 100px;
  height: 100px;
}
</style>